RewriteEngine on
Options -MultiViews
RewriteRule ^index$ index.php [L]
RewriteRule ^venue$ venue.php?p=venue [L]
RewriteRule ^supporters$ supporters.php?p=supporters [L]
### PROGRAM ###
RewriteRule ^keynotes$ keynote.php?p=Keynotes [L]
### CALL FOR PAPERS ###
RewriteRule ^restrack$ restrack.php?p=Research_Track [L]
RewriteRule ^eratrack$ eratrack.php [L]
RewriteRule ^tooltrack$ tooltrack.php?p=Tool_Track [L]
RewriteRule ^industrialtrack$ industrialtrack.php?p=Industrial_Track [L]
RewriteRule ^negativerestrack$ negativerestrack.php [L]
RewriteRule ^journalFirstTrack$ journalFirstTrack.php?p=Journal_First_Track [L]
RewriteRule ^workshoproposals$ workshoproposals.php?p=Workshop_Proposals [L]
### TRAVEL INFORMATION ###
RewriteRule ^accommodation$ accommodation.php?p=accommodation [L]
RewriteRule ^travelOpportunities$ travelOpportunities.php?p=travel_Opportunities [L]
RewriteRule ^visaInformation$ visaInformation.php?p=visa_Information [L]
### ORGANIZATION ###
RewriteRule ^organizingCommittee$ organizingCommittee.php?p=organizing_Committee [L]
RewriteRule ^programCommittee$ programCommittee.php?p=program_Committee [L]
RewriteRule ^steeringCommittee$ steeringCommittee.php?p=steering_Committee [L]
### WORKSHOPS ###
RewriteRule ^blockchainOrientedSoftwareEngineering$ w_blockchainOriented.php?p=IWBOSE_2018 [L]
RewriteRule ^softwareClones$ w_softwareClones.php?p=IWSC_2018 [L]
RewriteRule ^miningAndAnalyzingInteractionHistories$ w_miningAndAnalyzing.php?p=MAINT_2018 [L]
RewriteRule ^MachineLearningTechniques$ w_machineLearningTechniques.php?p=MaLTeSQuE_2018 [L]
RewriteRule ^ValidationAnalysisEvolutionSoftwareTests$ w_analysisEvolutionSftTest.php?p=VST_2018 [L]